.btn{
  color: black;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  padding: 10 10 10 10;
}


.home-container{
  color: #fff;
    width: 70vw;
    .item{
        padding-top: 20px;
        padding-bottom: 20px;

        .description{
            text-overflow: ellipsis;
            overflow: hidden;
            width: 50vw;
        }
        h2{
            font-weight: 400;
            color: #fff;
        }

    }
}

.create-blog{
  width: 70vw;
  display: grid;
  place-items: center;

  .create-blog-container{
    padding-top: 20px;
    color: #fff;

    .input-group{
      width: 40vw;

      .inp-group-textarea{
        height: 200px;
      }
    }
  }

  .create-blog-header{
  font-weight: bold;
  font-size: 1.2rem;
  }

}

.login-container{
  width: 70vw;
  display: grid;
  place-items: center;
  
  .login-header{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .login-btn{
    color: black;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
  }
  
}